[Unit]
Description=Prometheus smartctl Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/smartctl_exporter --web.listen-address=:9633
Restart=on-failure

[Install]
WantedBy=multi-user.target
