LETS_ENCRYPT_DNS_CREDENTIAL_ITEM=dns_ovh_endpoint ovh-eu
LETS_ENCRYPT_DNS_CREDENTIAL_ITEM_1=dns_ovh_application_key {{ bunkerweb_ovh_application_key }}
LETS_ENCRYPT_DNS_CREDENTIAL_ITEM_2=dns_ovh_application_secret {{ bunkerweb_ovh_application_secret }}
LETS_ENCRYPT_DNS_CREDENTIAL_ITEM_3=dns_ovh_consumer_key {{ bunkerweb_ovh_consumer_key }}
ADMIN_PASSWORD={{ bunkerweb_admin_password }}
