[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:13.1.3
Volume=/etc/grafana/provisioning:/etc/grafana/provisioning:Z,ro
Volume=/etc/grafana/dashboards:/etc/grafana/dashboards:Z,ro
Volume=grafana_data.volume:/var/lib/grafana:Z
EnvironmentFile=/etc/grafana/grafana.env
PublishPort=3000:3000

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
