[Unit]
Description=SemaphoreUI Container
After=semaphore-db.service network-online.target
Requires=semaphore-db.service
Wants=network-online.target

[Container]
Image=docker.io/semaphoreui/semaphore:v2.19.8
Pull=missing
ContainerName=semaphore
Network=semaphore-network.network
DNS=192.168.1.254
PublishPort=3000:3000

Volume=semaphore_data.volume:/var/lib/semaphore:Z
Volume=semaphore_config.volume:/etc/semaphore:Z
Volume=semaphore_tmp.volume:/tmp/semaphore:Z
Volume=/home/deploy/repos:/repos:Z

EnvironmentFile=/etc/semaphore/app.env

Environment=SEMAPHORE_DB_DIALECT=postgres
Environment=SEMAPHORE_DB_HOST=semaphore_db
Environment=SEMAPHORE_DB_NAME=semaphore
Environment=SEMAPHORE_ADMIN=admin
Environment=SEMAPHORE_ADMIN_NAME=Admin
Environment=SEMAPHORE_ADMIN_EMAIL=admin@localhost
Environment=TZ=Europe/Paris
Environment=SEMAPHORE_SCHEDULE_TIMEZONE=Europe/Paris

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
